* {
    padding: 0;
    margin: 0;
    font-family: arial, sans-serif;
}
body{
    background-color: #c7c3c369;
}

.frontview {
    position: relative;
}

nav {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(20, 26, 26, 0.404);
    width: 100%;
}

.logo {
    width: 200px;
    cursor: pointer;
}

ul li {
    display: inline;
}

ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 10px;
    padding: 5px;
    transition: 0.3s;
}

ul li a:hover {
    background-color: aliceblue;
    color: rgb(15, 11, 11);
    padding: 5px;
    border-radius: 2px;
}
.img1 {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.head1{
    position: absolute;
    background-color: #f0f0f079;
    color: #000000;
    padding: 5px;
    box-shadow: 0 0px 10px rgba(83, 79, 79, 0.2);
    border-radius: 5px;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.para1{
    position: absolute;
    background-color: #f0f0f079;
    color: #000000;
    box-shadow: 0 0px 10px rgba(83, 79, 79, 0.2);
    border-radius: 5px;
    font-size: 21px;
    padding: 7px;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    height: 150px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.footer {
    margin-top: 50px;
    background-color: #00000069;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    display: block;
}